{
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true
}
